body {
	background-color: #AAAAAA;
	font-family: Verdana;
	font-size: 11px;
	color: #414B56;
	margin: 0;
/*	padding: 0 0 0 50%;*/
}

a {
	text-decoration: none;
	color: #414B56;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

ol.upper_alpha {
	list-style: upper-alpha;
}

li {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, legend {
	font-size: 11px !important;
	font-family: Arial !important;
	margin: 0;
	font-weight: bold;
	color: #414B56 !important;
}

h1 {
	font-size: 20px !important;
	margin-top: 20px;
	margin-bottom: 10px;
}

h2 {
	font-size: 13px;
	background: url("../images/triplex/headline_hi.gif") no-repeat top left;
	padding-left: 18px;
	margin-top: 30px;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

em {
	font-style: normal;
}

input, textarea, select {
	margin: 0px;
}
/*
table * td, table * th {
	width: auto !important;
}
*/
/* used to clear floating elements */
.clear {
	width: 100%;
	display: block;
	height: 1px;
	clear: both;
	float: none;
	font-size: 1px;
}

/*
 * part of the content area for the real page content
 */
#content_main {
	padding-top: 4px;
	margin-bottom: 20px;
}

#content_main table {
	border-collapse: collapse;
	empty-cells: show;
    font-size: 11px;
}

#content_main div, #content_main p, #content_main img, #content_main table {
	margin-top: 0px;
}

/* apply styles to all link elements */
#content_main a {
	padding-left: 12px;
	color: #EFAA22;
	text-decoration: underline;
	background: url("../images/triplex/arrow_orange.gif") no-repeat left;
	display: block;
	margin-top: 14px;
}
/* and overwrite it here for sub elements, used as workaround for ie 6 */
#content_main * a {
	display: inline;
	margin: 0;
	padding: 0;
	background: transparent;
	color: #414B56;
	text-decoration: none;
}

#content_main * img {
	margin-top: 0;
	width: auto;
}

#content_main ul {
	list-style: square;
	margin-top: 14px;
	margin-left: 15px;
}

#content_main ol {
	list-style: decimal;
	margin-top: 14px;
	margin-left: 20px;
}

#content_main ul ul, #content_main ol ol,
#content_main ul ol, #content_main ol ul {
	margin-top: 0;
}

/* pagination */
#content_main .pagination_wrapper ul, #content_main .pagination_wrapper ol {
	list-style: none;
}

#content_main .pagination_wrapper li {
	float: left;
	margin: 0 1px;
	padding-left: 2px;
}

#content_main .pagination_wrapper li * {
	float: left;
	padding: 0 4px 0 2px;
	display: block;
	height: 14px;
}

#content_main .pagination_wrapper li.current, #content_main .pagination_wrapper li:hover {
	background: url("../images/triplex/pagination_left.gif") no-repeat top left;
}

#content_main .pagination_wrapper li.current *, #content_main .pagination_wrapper li:hover * {
	background: url("../images/triplex/pagination_right.gif") no-repeat top right;
}

#content_main .pagination_wrapper li *:hover {
	color: #000000;
}

#content_main .pagination_wrapper .navigation {
	margin-left: 20px;
}

#content_main div h3, #content_main div p, #content_main div img {
	margin: 0px;
	width: auto;
}
#margin_main div h3 {
	margin-bottom: 4px;
}

/* element for teaser informations on content sites */
#content_main .teaser_text {
	font-family: Verdana;
	color: #414B56;
	font-weight: bold;
	margin-top: 20px;
	display: block;
}

/* styles for coloured and styled block elements or tables */
#content_main .yellow {
	position: relative;
	background-color: #fff49d;
}

#content_main .grey {
	position: relative;
	background: url("../images/triplex/content_main_box_bg_grey.gif") repeat-y #343C45;
	color: #FFFFFF;
}

/* css hack for ie6 */
* html #content_main div.yellow, #content_main div.grey {
	padding: 16px 0 0px 16px;
}
/* firefox and ie7 - except ie6 */
html > body #content_main div.yellow, html > body #content_main div.grey {
	padding: 16px 16px 0;
}

#content_main .grey h3, #content_main .grey a {
	color: #FFE720;
}

#content_main .grey h3 {
	font-family: Arial;
	font-weight: bold;
}

/* contain the corners top left and right (corner_tl, corner_tr) */
#content_main span.top {
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	height: 16px;
	margin-left: -16px;
	padding-right: 32px;
	clear: both;
	float: none;
}
* html #content_main span.top { /* IE6 hack */
	padding-right: 32px;
}

/* contain the corners bottom left and right (corner_bl, corner_br) */
#content_main span.bottom {
	display: block;
	width: 100%;
	height: 16px;
	background: url("../images/triplex/content_main_box_bottom_grey.gif") no-repeat bottom left;
	margin-left: -16px;
	padding-right: 32px;
	clear: both;
	float: none;
}
#content_main .yellow span.bottom {
	background: none;
}

/* css hacks for ie6 and ie7 */
*:first-child+html #content_main .imgtxt_block_twocols .top { /* IE7 */ 
	position: relative;
	padding-right: 32px;
	margin-top: -16px;
}
* html #content_main .imgtxt_block_twocols .top { /* IE6 */
	position: relative;
	padding-right: 32px;
	margin-top: -16px;
}
* html #content_main .imgtxt_block_twocols .top a { /* IE6 */
	
}

/* the following styles create the rounded corners for block elements */
#content_main span.corner_tl, #content_main span.corner_tr, #content_main span.corner_bl, #content_main span.corner_br {
	display: block;
	width: 50%;
	height:	16px;
}
#content_main span.corner_tl, #content_main span.corner_bl {
	float: left;
}
#content_main span.corner_tr, #content_main span.corner_br {
	float: right;
}
#content_main span.corner_br {
	margin-right: -32px;
}
* html #content_main span.bottom .corner_br { /* IE6 hack */
	margin-right: -16px;
}
*:first-child+html span.top .corner_tr { /* IE7 hack */
	margin-right: -32px;
} 
* html #content_main span.top .corner_tr { /* IE6 hack */
	margin-right: -16px;
}

/* set background images to simulate round corners */
#content_main .yellow .corner_br	{	background: url("../images/triplex/corner_br_yellow.gif") no-repeat bottom right; }
#content_main .grey .corner_br		{	background: url("../images/triplex/corner_br_grey.gif") no-repeat bottom right; }
#content_main table.grey .corner_br	{	background-image: url("../images/triplex/corner_br_table_grey.gif"); }
#content_main .yellow .corner_tr	{	background: url("../images/triplex/corner_tr_yellow.gif") no-repeat top right; }
#content_main .grey .corner_tr		{	background: url("../images/triplex/corner_tr_grey.gif") no-repeat top right; }
#content_main table.grey .corner_tr	{	background-image: url("../images/triplex/corner_tr_table_grey.gif"); }
#content_main .yellow .corner_tl	{	background: url("../images/triplex/corner_tl_yellow.gif") no-repeat top left; }
#content_main .grey .corner_tl		{	background: url("../images/triplex/corner_tl_grey.gif") no-repeat top left; }
#content_main table.grey .corner_tl	{	background-image: url("../images/triplex/corner_tl_table_grey.gif"); }
#content_main .yellow .corner_bl	{	background: url("../images/triplex/corner_bl_yellow.gif") no-repeat bottom left; }
#content_main .grey .corner_bl		{	background: url("../images/triplex/corner_bl_grey.gif") no-repeat bottom left; }
#content_main table.grey .corner_bl	{	background-image: url("../images/triplex/corner_bl_table_grey.gif"); }
#content_main table.grey thead tr	{	background-image: url("../images/triplex/content_main_table_top_grey.gif"); }

/*
 * tables
 */
#content_main table.yellow, #content_main table.grey {
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	border: 0px solid #FFFFFF;
	border-spacing:0;
}

#content_main table.yellow td, #content_main table.yellow th,
#content_main table.grey td, #content_main table.grey th {
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding: 4px 8px;
	text-align: left;
}

/* apply property "empty-cells: show" function to IE */
#content_main table.yellow tfoot td,
#content_main table.grey tfoot td {
	height: 1px;
	width: 1px;
	padding: 0px;
	border-bottom: none;
}

#content_main table.yellow thead tr th, #content_main table.yellow thead tr td {
	padding-top: 16px;
}

#content_main table.yellow tfoot tr {
	height: 8px;
}

#content_main table.grey {
	empty-cells: show;
	background: url("../images/triplex/content_main_table_top_grey.gif") repeat-x #414B56;
}

#content_main table.grey thead tr th, #content_main table.grey thead tr td {
	text-align: left;
	padding-top: 8px;
	padding-bottom: 16px;
	vertical-align: top;
	color: #FFFFFF;
}

#content_main table.grey tbody tr th, #content_main table.grey tbody tr td {
	border: 1px solid #343C45;
	background-color: #FFFFFF;
	color: #000000;
}

#content_main table.grey tfoot tr td {
	background-color: #414B56;
	height: 7px !important;
}

/*
 * image-text modules
 */
#content_main div.imgtxt_block a, #content_main div.imgtxt_block_twocols a {
	float: right;
	padding-right: 12px;
	margin-top: 4px;
	color: #EFAA22 !important;
	text-decoration: underline;
	background: url("../images/triplex/arrow_orange.gif") no-repeat right !important;
}
#content_main .grey.imgtxt_block a, #content_main .grey.imgtxt_block_twocols a {
	color: #FFE720 !important;
	background: url("../images/triplex/arrow_yellow.gif") no-repeat right !important;
	text-decoration: none;
}
#content_main .imgtxt_block a:hover, #content_main .imgtxt_block_twocols a:hover {
	text-decoration: none;
}

#content_main .imgtxt_block img {
	margin-bottom: 14px;
	width: 100%;
}

#content_main .imgtxt_block_twocols h3, #content_main .imgtxt_block_twocols p {
	float: right;
	width: 46%;
	display: block;
	clear: right;
}
#content_main .imgtxt_block_twocols a {
	float: right;
}

#content_main .imgtxt_block_twocols img {
	float: left;
	width: 50%;
	overflow: hidden;
}

input#vmnr {
    width: 60px;
}

input#vmname {
    width: 100px;
}

input#handy {
    width: 100px;
}

input#maklerportal_access {
    width: 80px;
}

input#bd {
    width: 60px;
}

input#status {
    width: 60px;
}

input#from_maklerportal {
    width: 80px;
}
/*
 * Navigation Level1
 */
#nav_level1 {
	background: #585A62;
	vertical-align: bottom !important;
	height: 39px;
	overflow: hidden;
	clear: both;
}

#nav_level1 ul {
	vertical-align: bottom;
}


#nav_level1 ul li {
	background: url("../images/triplex/nav_level_1_delimiter.gif") no-repeat right;
	vertical-align: bottom !important;
	height: 39px;
	float: left;
}

#nav_level1 ul li a {
	padding: 14px 8px 0 8px;
	margin-right: 2px;
	display: block;
	color: #FFFFFF;
	height: 39px;
}
* html #nav_level1 ul li a { /* IE6 hack */
	height: auto !important;
	border: 0px solid #000000;
}

#nav_level1 ul li a:hover, #nav_level1 ul li.highlight a {
	background-image: url("../images/triplex/nav_level_1_hi.gif");
	color: #FFE720;
}

td.center {
    text-align: center;
}

td.image {
    text-align: center;
}

td.date_column {
    width: 114px;
}

td.handy_column {
    width: 110px;
}
td.last_column {
    width: 200px;
}

td.last_column_admin {
    width: 350px;
}
