table {
    font-size: 10.5px;
}

th {
    font-size: 14px;
}

th a {
    text-decoration: none;
}

th a:visited {
    color: blue;
}

tr.odd {
    background-color: #ffffda;
}

tr.even {

}

td {
    height: 30px;
}

td.Date {
    width: 8em;
}

td.IdDokument, td.No {
    text-align: right;
}

td.No {
    font-weight: bold;
}

#pagination {
    margin-top: 25px;
    font: 14px Arial;
    text-align: center;
    padding-left: 0 !important;
}

#pagination span.navigation a {
    text-decoration: none;
    font-weight: bold;
}

#pagination span.navigation a:visited {
    color: blue;
}

#pagination span.pages {
    font-size: 12px;
}

#pagination span.current {
    font-weight: bold;
    color: #bb0000;
    font-size: 16px;
}