/*
input[type=radio], input[type=checkbox] {
	margin-top: 3px;
}
*/
td label {
	width: 95% !important;
}
/*
 * form layouts
 */
.formFieldList {
	list-style: none !important;
	margin: 0 !important;
	display: block;
}

.formFieldList li, .formRadioList li {
	float: left;
	width: 100%;
	display: block;
	clear: both;
	padding: 0 !important;
	margin: 0 !important;
}

.formFieldList li {
	margin-top: 14px !important;
}

.formFieldList li:first-child {
	margin-top: 0 !important;
}

.formFieldList label {
	float: left;
	width: 30%;
	margin-right: 1%;
	text-align: right;
}

.formFieldList select, .formFieldList input, .formFieldList textarea {
	float: right;
	width: 66%;
	clear: right;
}

.formFieldList input.button, input.button {
	width: 156px;
	margin-left: 1%;
	height: 24px;
	border: none;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url("../images/triplex/content_main_box_button.gif");
	border: 0px solid #fff; /* required to display background image in ie6 */
	background-repeat: no-repeat;
	float: right;
	clear: none;
}


.formFieldList input.button:hover {
	color: #FFE720;
}

.formRadioList {
	list-style: none !important;
}
.formRadioList input, table input {
	margin-right: 8px;
}

.formRadioList li * {
	margin-top: 2px;
	float: left;
}

.formFieldList li.row_label_checkbox input {
	float: left;
	width: auto;
	margin-left: 2.5%;
}

#content_main .formRadioList .info {
	background-image: url("../images/triplex/hint_box.gif");
	display: block !important;
	width: 18px;
	height: 18px;
	color: #FFFFFF;
	font-weight: bold;
	overflow: hidden;
	text-align: center;
	float: right;
}

.formRadioList .info:hover {
	color: #FFE720;
}
