#personal {
    width: 610px;
    height: 160px;
}
#partner {
    width: 610px;
    height: 70px;
}
#content_main div.personalLeft {
    float: left;
    margin: 0 2px 0 0;
    width: 300px;
}
#content_main /*div.personalLeft*/ div.labels {
    float: left;
    line-height: 105%;
    width: 150px;
}
#content_main /*div.personalLeft*/ div.inputs {
    float: right;
    line-height: 105%;
    width: 150px;
}
#content_main div.labels * {
    display: block;
    line-height: 235%;
    margin-left: 20px;
    margin-top: 0px;
}
#content_main div.personalRight {
    float: left;
    margin: 0 0 0 2px;
    width: 300px;
}
#content_main div.inlineDisplayed div.labels h2 {
    margin-left: 0px;
}
div.personalRight div#houseNumberAndAlpha {
    line-height: 105%;
    margin-top: 70px;
}
#content_main input {
    width: 150px;
    background-color: #FFFFDF;
    margin: 0 0 3px;
}

div.personalRight div#houseNumberAndAlpha label#numberLabel {
    /* margin: 0 80px 0 0;*/
    margin-left: 20px;
    display: inline;
}
div.personalRight div#houseNumberAndAlpha #alfa {
    line-height: 105%;
    margin-left: 10px;
    width: 30px;
}
div.personalRight div#houseNumberAndAlpha #numer {
    line-height: 105%;
    margin-left: 78px;
    width: 40px;
}
div#vorv {
    height: 60px;
    margin: 10px 0 0;
    width: 610px;
}
div#vorvLeft {
    float: left;
    height: 60px;
    margin: 0 2px 0 0;
    width: 300px;
}
div#vorvRight {
    float: right;
    height: 60px;
    margin: 0 0 0 2px;
    width: 300px;
}

#content_main div.inlineDisplayed {
    margin-top:0px;
    width: 300px;
    height: 30px;
}
#content_main div.inlineDisplayed *{
    display: inline;
}
#content_main div.indented *{
    margin-left:150px;
    width: 300px;
    text-indent: right;
}

#content_main div#beitragSummary *{
    display: inline;
}
div#stufe {
    width: 610px;
    margin-top: 0px;
}
div#stufe * {
    margin-top: 0px;
}
div#stufeLeft {
    width: 300px;
    float: left;
}
div#stufeRight {
    width: 300px;
    float: right;
}
